<!DOCTYPE html>
<html>
	<head>
		<title>moible first?</title>
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">
<style>
*{font-family: Hack,monospace;}
</style>
	</head>
	<body>
		<h1 algin="center">My take on mobile first programing</h1>
		<div style="text-align:center;">
			<p> When we hear mobile first programing we often think of apks and java/kothlin. All that was true for me until I saw a youtube video where <a href="https://youtu.be/0KmUoTfGa34">joma tech made a website only using his iphone</a>.There were some places I felt he lost the spirit of the challenge like using a e2c instance. So I took it upon myself to do this while avoiding breaking away from the spirit </p>
			<p>This website your reading was made using only my phone. No e2c instance just <a href="https://f-droid.org/packages/com.termux">termux</a> and a archlinux evniorment provided by <a href="https://f-droid.org/packages/exa.lnx.a">anlinux</a>.my main aim when I did this was to show that programing isn't inaccessable. All you need is a smartphone,perserverance and free time</p>
		</div>
		<footer> <a href="/contact">contact me?</a>
	</body>
</html>
